AUTH_SECRET="SET_SECRET_KEY" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID="CLIENT_ID_GOOGLE"
AUTH_GOOGLE_SECRET="CLIENT_SECRET_GOOGLE"

AUTH_FIREBASE_PROJECT_ID="FIREBASE_PROJECT_ID"
AUTH_FIREBASE_CLIENT_EMAIL="FIREBASE_CLIENT_EMAIL"
AUTH_FIREBASE_PRIVATE_KEY="FIREBASE_PRIVATE_KEY"